$color: (
    primary: #F6AD55,
    gray: #4A5568
);

@function get-color($elem) {
    @return map-get($color, $elem);
}

@function get-color-variant($elem, $opacity) {
    @return rgba(get-color($elem), $opacity);
}