@import "../../utils/styles/globals.scss";

.container {
    border-radius: 10px;
    background-color: get-color-variant(primary, 0.2);
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    h2 {
        font-size: 18px;

        display: flex;
        justify-content: center;
    }
}