@import "../../utils/styles/globals.scss";

.loader-container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cta-icon {
    background-color: get-color(light_gray);

    min-height: 30px;
    min-width: 30px;

    @media screen and (min-width: breakpoint("tablet")) {
        min-height: 40px;
        min-width: 40px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    cursor: pointer;
}

.container {
    .cocktail-title {
        font-weight: bold;
    }

    .content {
        margin-top: 50px;

        .picture-container {
            display: flex;
            justify-content: center;

            .picture {
                height: 100%;
                width: fit-content;

                img {
                    height: 400px;
                    background-color: get-color-variant(gray, 0.2);
                    object-fit: contain;
                }

                margin-top: 30px;
                position: relative;

                .edit-picture-cta {
                    position: absolute;
                    right: 10px;
                    top: 10px;

                    @media screen and (min-width: breakpoint("tablet")) {
                        right: 20px;
                        top: 20px;
                    }


                    input {
                        display: none;
                    }
                }
            }
        }


        .ingredients {
            margin-top: 30px;

            .title-container {
                display: flex;
                align-items: center;

                .title {
                    font-size: 18px;
                    margin-right: 20px;
                }

                .cta-icon {
                    span {
                        padding: 5px;
                    }
                }
            }

            .ingredients-list {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }

            .save-ingredients-cta {
                margin-top: 20px;
                display: flex;
                justify-content: center;

                button {
                    width: 200px;
                }
            }
        }
    }

    .update-loader {
        background: get-color-variant(gray, 0.8);

        height: 100vh;
        width: 100vw;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.no-picture {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: repeating-linear-gradient(45deg,
            get-color-variant(gray, 0.2),
            get-color-variant(gray, 0.2) 40px,
            get-color-variant(gray, 0.3) 40px,
            get-color-variant(gray, 0.3) 80px);

    border-radius: 10px;
}